.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Font weight variations */
.montserrat-100 { font-weight: 100; }
.montserrat-200 { font-weight: 200; }
.montserrat-300 { font-weight: 300; }
.montserrat-400 { font-weight: 400; }
.montserrat-500 { font-weight: 500; }
.montserrat-600 { font-weight: 600; }
.montserrat-700 { font-weight: 700; }
.montserrat-800 { font-weight: 800; }
.montserrat-900 { font-weight: 900; }
